* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
  font-weight: normal;
  color: #fff;
}
/*
.wrapper {
  display: block;
  box-sizing: border-box;
  width: 500px;
  margin: 150px auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.15);
}*/
.wrapper {
  display: block;
  width: 1000px;
  height: 600px;
  /* border: 1px solid; */
  margin: 50px auto;
}

.game-about{
  display: block;
  box-sizing: border-box;
  width: 800px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
}



.game-logo {
  background: url(../images/contra_logo.png) no-repeat;
  height: 100px;
  width: 239px;
  margin: 0 auto;
}

.game-logo a {
  display: block;
  height: 100px;
}

.button {
  color: #7c7c7c;
  font-size: 14px;
  width: 150px;
  height: 25px;
  font-style: normal;
  padding-left: 2px;
  border: none;
  outline: none;
  display: block;
  margin: 15px auto;
  cursor: pointer;
}

.game-name {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.game-second-name {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}


.greeting-h3 {
  font-size: 18px;  
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.greeting-txt {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
}


.greeting-list {
  margin-left: 240px;
}

.greeting-list-item {
  font-size: 14px;
  color: #fff;
  list-style: decimal;
}


/**/
.component {
  right: 5px; */
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
  width: 700px;
  min-height: 160px;
  /* font-family: Tahoma, Helvetica, sans-serif; */
  overflow: hidden;
  /* background-color: #ffffff; */
}

.component-main {
  width: 100%;
  height: 485px;
}

.component-info {
  /*border: 1px solid lightgray;*/
  width: 700px;
  height: 472px;
  /* margin: 10px; */
  /* padding: 5px; */
  float: left;
  /* cursor: pointer; */
  user-select: none;
  display: none;
  overflow: hidden;
}

.showing {
  display: block; 
}

.info-title {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  /* display: block; */
  margin: 0px auto;
  width: 700px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  box-sizing: border-box;
  /* position: relative; */
  /* vertical-align: unset; */
}

.info-txt {
  font-size: 12px;
}

.component-close {
  width: 10px;
  height: 10px;
  float: right;
  margin: 10px 8px 0px 2px;
  opacity: 0.4;
  cursor: pointer;
  user-select: none;
}

.component-close:hover {
  opacity: 0.9;
}

.component-menu {
  /*background-color: #f7f7f7; */
  width: 700px;
  height: 40px;
  /* border-radius: 0px 0px 5px 5px; */
}


.component-nav {
    /* font-size: 14px; */
    /* float: right; */
    width: 180px;
    margin: 0px auto;
}

.component-disable {
  
  float: left;
  margin: 8px 0px 8px 10px;
}

.disable-checkbox {
  vertical-align: -3px;
  cursor: pointer;
}

.disable-label {
  font-size: 12px;    
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}

.controls {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  cursor: pointer;
  user-select: none;

}

.controls:hover {
  opacity: 0.6;
}

.left {
  float: left;
}



.buttons {
  font-size: 12px;
}

.nav-btns {
  display: inline-block;
  vertical-align: 5px;
  margin: 0px 2px 0px 5px;
}

.slide-nav-btn {
  display: inline-block;
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #000;
  opacity: 0.2;
  border-radius: 50%;
  margin: 4px;
}

.slide-nav-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.current {
  background-color: white;
  opacity: 0.6;
}

/**/


/* ---- Space background ---- */


@keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-webkit-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-moz-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-ms-keyframes move-clouds-back {
    from {
      background-position: 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1200px;
    display: block;
  }
  
  .stars {
    background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
    z-index: -4;
  }
  
  .twinkling {
    background: transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
    z-index: -2;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }
  
  /* ---- END Space background ---- */