* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
  font-weight: normal;
  color: #fff;
  /*overflow-y: hidden;*/
}

.wrapper {
  display: block;
  width: 1000px;
  border: 1px solid black;
  margin: -1px auto;
  
}

.about-block {
  display: block;
  box-sizing: border-box;
  width: 800px;
  margin: 10px auto 500px;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
}

.about-block a {
  color: #fff;
  font-size: 14px;
}

.hidden-block {
  height: 170px;
}

.game-logo {
  background: url(../images/contra_logo.png) no-repeat;
  height: 100px;
  width: 239px;
  margin: 0 auto;
}

.game-logo a {
  display: block;
  height: 100px;
}

.button {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 6px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  width: 150px;
  margin: 15px auto;  
  cursor: pointer;
  border: 0px;
  color: rgb(245,245,245);
}

.button:hover {
  color: #00d100;
}

.header {
  height: 170px;
    width: 800px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    margin-left: -400px;
    background-color: black;
    z-index: 100;
    padding-top: 10px;
}



.about-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  width: 800px;
  margin: 20px auto 0px;
}

.about-menu a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.about-menu a:hover {
  color: #00d100;
}

.game-name {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.game-second-name {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}


.greeting-h3 {
  font-size: 18px;  
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.greeting-txt {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
}


.greeting-list {
  margin-left: 240px;
}

.greeting-list-item {
  font-size: 14px;
  color: #fff;
  list-style: decimal;
}

.author {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.social-block {
  margin-top: 10px;
  text-align: center;
}

.social-block a:hover {
  color: #00d100;
}

/**/
.component {
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  width: 700px;
  min-height: 160px;
  overflow: hidden;
  margin-top: -10px;
}

.component-main {
  width: 100%;
  height: 460px;
}

.component-info {
  width: 700px;
  height: 480px;
  float: left;
  user-select: none;
  display: none;
  overflow: hidden;
}

.component-info img {
  width: 700px;
  margin-top: 25px;
}

.showing {
  display: block; 
}

.info-title {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  margin: 0px auto;
  width: 700px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  box-sizing: border-box;
}

.info-txt {
  font-size: 12px;
}

.component-close {
  width: 10px;
  height: 10px;
  float: right;
  margin: 10px 8px 0px 2px;
  opacity: 0.4;
  cursor: pointer;
  user-select: none;
}

.component-close:hover {
  opacity: 0.9;
}

.component-menu {
  width: 700px;
  height: 40px;
}


.component-nav {
    width: 250px;
    margin: 0px auto;
    padding-top: 25px;
}

.component-disable {
  
  float: left;
  margin: 8px 0px 8px 10px;
}

.disable-checkbox {
  vertical-align: -3px;
  cursor: pointer;
}

.disable-label {
  font-size: 12px;    
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}

.controls {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  cursor: pointer;
  user-select: none;

}

.controls:hover {
  opacity: 0.6;
}

.left {
  float: left;
}



.buttons {
  font-size: 12px;
}

.nav-btns {
  display: inline-block;
  vertical-align: 5px;
  margin: 0px 2px 0px 5px;
}

.slide-nav-btn {
  display: inline-block;
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #000;
  opacity: 0.2;
  border-radius: 50%;
  margin: 4px;
}

.slide-nav-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.current {
  background-color: white;
  opacity: 0.6;
}

/**/


/* ---- Space background ---- */


@keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-webkit-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-moz-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-ms-keyframes move-clouds-back {
    from {
      background-position: 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3500px;
    display: block;
  }
  
  .stars {
    background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
    z-index: -4;
  }
  
  .twinkling {
    background: transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
    z-index: -2;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }
  
  /* ---- END Space background ---- */