@-webkit-keyframes HealthRender {
    0% {
        width: 0px;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}



.health-render {
    animation-name: HealthRender;
    animation-duration: 1000ms;
}


.person {    
    width: 58px;
    height: 120px;
    /*border: 1px solid;*/
    margin-top: 300px;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    }
  
  .player-stay {
    background: url(../images/player/cc_player_idle.png) no-repeat 0 0;
    -webkit-animation-name: PlayerStay;
    margin-left: 150px;
   
  }

  @-webkit-keyframes PlayerStay {
    0% {
        background-position: 0 0;
    }
    20% {
        background-position: 0 0;
    }
    20.001% {
        background-position: -82px 0;
    }
    40% {
        background-position: -82px 0;
    }
    40.001% {
        background-position: -164px 0;
    }
    60% {
        background-position: -164px 0;
    }
    60.001% {
        background-position: -246px 0;
      }
    80% {
        background-position: -246px 0;
    }
    80.001% {
        background-position: -327px 0;
    }
    99.999% {
        background-position: -327px 0;
    }
    100% {
        background-position: 0 0;
    }    
  }

  .player-attack {
    background: url(../images/player/cc_player_pistol_shooting.png) no-repeat 0 0;
    -webkit-animation-name: PlayerAttack;
    margin-left: 150px;
    width: 102px;
    -webkit-animation-duration: 700ms !important;
    -webkit-animation-iteration-count: 2 !important;
  }

  @-webkit-keyframes PlayerAttack {
    0% {
        background-position: 0 0;
    }
    9% {
        background-position: 0 0;
    }
    9.001% {
        background-position: -104px 0;
    }
    18.5% {
        background-position: -104px 0;
    }
    18.501% {
        background-position: -208px 0;
    }
    27.5% {
        background-position: -208px 0;
    }
    27.501% {
        background-position: -312px 0;
      }
    36.5% {
        background-position: -312px 0;
    }
    36.501% {
        background-position: -416px 0;
    }
    45.5% {
        background-position: -416px 0;
    }
    45.501% {
        background-position: -520px 0;
    }
    55% {
        background-position: -520px 0;
    }
    55.001% {
        background-position: -624px 0;
    }
    64% {
        background-position: -624px 0;
    }
    64.001% {
        background-position: -728px 0;
    }
    73% {
        background-position: -728px 0;
    }
    73.001% {
        background-position: -832px 0;
    }
    82% {
        background-position: -832px 0;
    }
    82.001% {
        background-position: -936px 0;
    }
    91% {
        background-position: -936px 0;
    }
    91.001% {
        background-position: -1040px 0;
    }    
    99.999% {
        background-position: -1040px 0;
    }
    100% {
        background-position: 0 0;
    }    
  }


  .player-heal {
    background: url(../images/player/cc_player_drink_strip.png) no-repeat 0 0;
    -webkit-animation-name: PlayerHeal;
    margin-left: 150px;
    width: 80px;
    -webkit-animation-duration: 1000ms !important;
    -webkit-animation-iteration-count: 1 !important;
  }

  @-webkit-keyframes PlayerHeal {
    0% {
        background-position: 0 0;
    }
    6% {
        background-position: 0 0;
    }
    6.001% {
        background-position: -86px 0;
    }
    12% {
        background-position: -86px 0;
    }
    12.001% {
        background-position: -172px 0;
    }
    17.5% {
        background-position: -172px 0;
    }
    17.501% {
        background-position: -258px 0;
      }
    23.5% {
        background-position: -258px 0;
    }
    23.501% {
        background-position: -344px 0;
    }
    29.5% {
        background-position: -344px 0;
    }
    29.501% {
        background-position: -430px 0;
    }
    35.5% {
        background-position: -430px 0;
    }
    35.501% {
        background-position: -516px 0;
    }
    41.5% {
        background-position: -516px 0;
    }
    41.501% {
        background-position: -602px 0;
    }
    47% {
        background-position: -602px 0;
    }
    47.001% {
        background-position: -688px 0;
    }
    53% {
        background-position: -688px 0;
    }
    53.001% {
        background-position: -774px 0;
    }
    59% {
        background-position: -774px 0;
    }
    59.001% {
        background-position: -860px 0;
    }
    65% {
        background-position: -860px 0;
    }
    65.001% {
        background-position: -946px 0;
    }
    71% {
        background-position: -946px 0;
    }
    71.001% {
        background-position: -1032px 0;
    }
    77% {
        background-position: -1032px 0;
    }
    77.001% {
        background-position: -1118px 0;
    }
    82.5% {
        background-position: -1118px 0;
    }
    82.501% {
        background-position: -1024px 0;
    }
    88.5% {
        background-position: -1024px 0;
    }
    88.501% {
        background-position: -1289px 0;
    }
    94.5% {
        background-position: -1289px 0;
    }
    94.501% {
        background-position: -1376px 0;
    }    
    99.999% {
        background-position: -1376px 0;
    }
    100% {
        background-position: 0 0;
    }    
  }


  .player-dead {
    background: url(../images/player/cc_player_dying_strip1.png) no-repeat 0 0;
    -webkit-animation-name: PlayerDead;
    margin-left: 150px;
    width: 132px;
    -webkit-animation-duration: 1000ms !important;
    -webkit-animation-iteration-count: 1 !important;
  }

  

  @-webkit-keyframes PlayerDead {
    0% {
        background-position: 0 0;
    }
    11% {
        background-position: 0 0;
    }
    11.001% {
        background-position: -2px 0;
    }
    22% {
        background-position: -2px 0;
    }
    22.001% {
        background-position: -139px 0;
    }
    33% {
        background-position: -139px 0;
    }
    33.001% {
        background-position: -278px 0;
      }
    44% {
        background-position: -278px 0;
    }
    44.001% {
        background-position: -418px 0;
    }
    55.5% {
        background-position: -418px 0;
    }
    55.501% {
        background-position: -560px 0;
    }
    66.5% {
        background-position: -560px 0;
    }
    66.501% {
        background-position: -699px 0;
    }
    77.5% {
        background-position: -699px 0;
    }
    77.501% {
        background-position: -840px 0;
    }
    89.5% {
        background-position: -840px 0;
    }
    89.501% {
        background-position: -980px 0;
    }
    99.999% {
        background-position: -980px 0;
    }
    100% {
        background-position: -980px 0;
    }
  }

  .monster-stay {
    background: url(../images/monster/cc_enemy_idle.png) no-repeat 0 0;
    -webkit-animation-name: MonsterStay;
    margin-right: 150px;
  }

  @-webkit-keyframes MonsterStay {
    0% {
        background-position: 0 0;
    }
    16.5% {
        background-position: 0 0;
    }
    16.501% {
        background-position: -70px 0;
    }
    33.5% {
        background-position: -70px 0;
    }
    33.501% {
        background-position: -140px 0;
    }
    50% {
        background-position: -140px 0;
    }
    50.001% {
        background-position: -210px 0;
      }
    66.5% {
        background-position: -210px 0;
    }
    66.501% {
        background-position: -280px 0;
    }
    83.5% {
        background-position: -280px 0;
    }
    83.501% {
        background-position: -350px 0;
    }
    99.999% {
        background-position: -350px 0;
    }
    100% {
        background-position: 0 0;
    }    
  }

  .monster-attack {
    background: url(../images/monster/soldier_handgun.png) no-repeat 0 -22px;
    -webkit-animation-name: MonsterAttack;
    margin-right: 150px;
    width: 160px;
    -webkit-animation-duration: 700ms !important;
    -webkit-animation-iteration-count: 2 !important;
  }

  @-webkit-keyframes MonsterAttack {
    0% {
        background-position: 0 -22px;
    }
    9% {
        background-position: 0 -22px;
    }
    9.001% {
        background-position: -158px -22px;
    }
    18.5% {
        background-position: -158px -22px;
    }
    18.501% {
        background-position: -324px -22px;
    }
    27.5% {
        background-position: -324px -22px;
    }
    27.501% {
        background-position: -490px -22px;
      }
    36.5% {
        background-position: -490px -22px;
    }
    36.501% {
        background-position: -656px -22px;
    }
    45.5% {
        background-position: -656px -22px;
    }
    45.501% {
        background-position: -822px -22px;
    }
    55% {
        background-position: -822px -22px;
    }
    55.001% {
        background-position: -988px -22px;
    }
    64% {
        background-position: -988px -22px;
    }
    64.001% {
        background-position: -1154px -22px;
    }
    73% {
        background-position: -1154px -22px;
    }
    73.001% {
        background-position: -1318px -22px;
    }
    82% {
        background-position: -1318px -22px;
    }
    82.001% {
        background-position: -1479px -22px;
    }
    91% {
        background-position: -1479px -22px;
    }
    91.001% {
        background-position: -1648px -22px;
    }    
    99.999% {
        background-position: -1648px -22px;
    }
    100% {
        background-position: 0 -22px;
    }    
  }

  
  .monster-dead {
    background: url(../images/monster/soldier_die-strip.png) no-repeat 0 0;
    -webkit-animation-name: MonsterDead;
    margin-right: 150px;
    width: 194px;
    -webkit-animation-duration: 1000ms !important;
    -webkit-animation-iteration-count: 1 !important;
  }

  @-webkit-keyframes MonsterDead {
    0% {
        background-position: 0 0;
    }
    5% {
        background-position: 0 0;
    }
    5.001% {
        background-position: -3664px 0;
    }
    10% {
        background-position: -3664px 0;
    }
    10.001% {
        background-position: -3470px 0;
    }
    15% {
        background-position: -3470px 0;
    }
    15.001% {
        background-position: -3275px 0;
      }
    20% {
        background-position: -3275px 0;
    }
    20.001% {
        background-position: -3082px 0;
    }
    25% {
        background-position: -3082px 0;
    }
    25.001% {
        background-position: -2888px 0;
    }
    30% {
        background-position: -2888px 0;
    }
    30.001% {
        background-position: -2694px 0;
    }
    35% {
        background-position: -2694px 0;
    }
    35.001% {
        background-position: -2500px 0;
    }
    40% {
        background-position: -2500px 0;
    }
    40.001% {
        background-position: -2306px 0;
    }
    45% {
        background-position: -2306px 0;
    }
    45.001% {
        background-position: -2112px 0;
    }
    50% {
        background-position: -2112px 0;
    }
    50.001% {
        background-position: -1918px 0;
    }
    55% {
        background-position: -1918px 0;
    }
    55.001% {
        background-position: -1724px 0;
    }
    60% {
        background-position: -1724px 0;
    }
    60.001% {
        background-position: -1530px 0;
    }
    65% {
        background-position: -1530px 0;
    }
    65.001% {
        background-position: -1336px 0;
    }
    70% {
        background-position: -1336px 0;
    }
    70.001% {
        background-position: -1142px 0;
    }
    75% {
        background-position: -1142px 0;
    }
    75.001% {
        background-position: -948px 0;
    }
    80% {
        background-position: -948px 0;
    }
    80.001% {
        background-position: -754px 0;
    }
    85% {
        background-position: -754px 0;
    }
    85.001% {
        background-position: -564px 0;
    }
    90% {
        background-position: -564px 0;
    }
    90.001% {
        background-position: -372px 0;
    }
    95% {
        background-position: -372px 0;
    }
    95.001% {
        background-position: -176px 0;
    }
    99.999% {
        background-position: -176px 0;
    }
    100% {
        background-position: -176px 0;
    }    
  }




