* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
  font-weight: normal;
  color: #fff;
}


.wrapper {
  display: block;
  width: 1000px;
  height: 600px;
  /* border: 1px solid; */
  margin: 50px auto;
}

.game-logo {
  background: url(../images/contra_logo.png) no-repeat;
  height: 100px;
  width: 239px;
  margin: 0 auto;
}

.game-logo a {
  display: block;
  height: 100px;
}

.button {
  /*color: #7c7c7c;
  font-size: 14px;
  width: 150px;
  height: 25px;
  font-style: normal;
  padding-left: 2px;
  border: none;
  outline: none;
  display: block;
  margin: 15px auto;
  cursor: pointer;*/
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 6px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  width: 150px;
  margin: 15px auto;  
  cursor: pointer;
  border: 0px;
  color: rgb(245,245,245);
}

.button:hover {
  color: #00d100;
}




.login-section{
  display: block;
  box-sizing: border-box;
  width: 500px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
}

.game-name {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.game-second-name {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.form-txt {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
}

.form-input {
  border: none;
  box-sizing: border-box;
  font-style: italic;
  font-size: 14px;
  width: 150px;
  height: 25px;
  padding-left: 14px;
  outline: none;
  display: block;
  margin: 15px auto 0;
}

.task-input {
  border: none;
  box-sizing: border-box;
  font-style: italic;
  font-size: 14px;
  width: 150px;
  height: 18px;
  padding-left: 14px;
  outline: none;
  display: block;
}

.menuGame {

}

.form-block {
  display: none;
}


.playing-section {  
  display: none;
  text-align: center;
  position: absolute;
  width: 1000px;
  height: 500px;
  background: url(../images/bg/arena-city-small.png) no-repeat;
  background-position: bottom;
  margin-top: 40px;
}

.playing-section-header {
  display: flex;
  justify-content: space-around;
  /* margin: 30px; */
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  width: 900px;
  margin: 0 auto;
}

.player-info {
  width: 35%;
}

.player-hp {
  font-size: 14px;
  margin: 5px;
}

.hp-line-green {
  height: 15px;
  width: 100%;
  background-color: #00d100;
}

.monster-hp-red-line {
  height: 15px;
  width: 100%;
  background-color: #c40000;
  border: 1px solid #fff;
}

.player-hp-line-red {
  height: 15px;
  width: 100%;
  background-color:  #c40000;
  border: 1px solid #fff;
}

.battle-section {
  /*height: 55%;*/
  /*margin-top: 300px;*/
  height: 400px;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid #fff;*/
}

/*.person {
  width: 100px;
  height: 200px;
  border: 1px solid #fff;
  margin: 100px;
}*/

.action-modal-window {
  width: 1000px;
  height: 100%;
  display: none;  
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: fixed;
    
}

.action-section {
  display: block;
  box-sizing: border-box;
  width: 400px;
  height: 100px;
  margin: 350px auto 0;  
  padding: 20px;  
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
}


.btn-shoose-action {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 6px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  width: 200px;
  margin: 20px auto;  
  cursor: pointer;

  color: rgb(245,245,245);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

.btn-shoose-action:hover {
  color: #00d100;
}

@-webkit-keyframes pulsate {
  10% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
 }
 @keyframes pulsate {
  10% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
 }






.task-modal-window {
  /*width: 100%;
  height: 100%;
  display: none;  
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: fixed;*/
  width: 1000px;
  height: 100%;
  display: none;  
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: fixed;
}

.task-window {
  display: block;
  box-sizing: border-box;
  width: 400px;
  height: 100px;
  margin: 350px auto 0;  
  padding: 20px;  
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
}


.btn-attack {
  background: url(../images/actions/weapon_mp5.png) no-repeat;
  width: 40px;
  height: 55px;
  cursor: pointer;
  display: block;
  margin-left: 135px;
  margin-top: 10px;
  float: left;
  vertical-align: -webkit-baseline-middle;
  padding-top: 25px;
}

.btn-attack:hover {
  color: #00d100;
}

.btn-heal {
  background: url(../images/actions/cc_drink.png) no-repeat;
  background-position: top;
  width: 40px;
  height: 55px;
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  padding-top: 30px;
}

.btn-heal:hover {
  color: #00d100;
}




.scores-section {    
  display: none;
  box-sizing: border-box;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
}

.score-list ul {
  list-style: none;
  width: 350px;
  margin-top: 20px;
  text-align: left;
  margin-left: 45px;
}


.score-list ul li {
  padding-top: 5px;
}









/* ---- Space background ---- */


@keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  
  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-webkit-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-moz-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  @-ms-keyframes move-clouds-back {
    from {
      background-position: 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  
  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .stars {
    background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
    z-index: -4;
  }
  
  .twinkling {
    background: transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
    z-index: -2;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }
  
  /* ---- END Space background ---- */